body {
    margin: 0;
    padding: 16px;
    height: 100vh;
    background: linear-gradient(to bottom right, #ff7f7f, #ffb3b3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: transform 0.6s ease;
}

.front_img {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.inside_card {
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 24px 40px -8px rgba(255, 20, 147, 0.5);
    border-radius: 15px;
    width: 450px;
    height: 800px;
    z-index: -1;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tenor-gif-embed {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
}

.valentines_card:hover .front_card {
    transform: rotateY(-180deg); 
} 

.front_text, .inside_text {
    color: #A60657;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.front_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 24px 40px -8px rgba(255, 20, 147, 0.5);
    border-radius: 15px;
    width: 450px;
    height: 800px;
}

.inside_card {
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 24px 40px -8px rgba(255, 20, 147, 0.5);
    border-radius: 15px;
    width: 450px;
    height: 800px;
    z-index: -1;
    left: 0;
    top: 0;
}

.valentines_card audio {
    display: none;
}

.valentines_card:hover .front_img {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .front_text, .inside_text {
        font-size: 20px; /* Adjust font size for tablets */
    }

    .valentines_card {
        width: 90%; /* Use more width on smaller screens */
    }
}

@media (max-width: 767.98px) {
    .front_text, .inside_text {
        align-items: center;
        font-size: 15px; /* Adjust font size for phones */
    }

    .valentines_card {
        width: 95%; /* Use even more width on mobile */
        height: auto;
        margin-bottom: 100%;
    }

    .front_card, .inside_card {
        height: 500px; /* Allow height to adjust */
        width: auto;
        margin-top: 50%;
    }
}
